{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% form_theme resetForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

     <h1 class="text-center">Reset your password</h1>
    {{ form_start(resetForm) }}
    	<div class="row g-3 justify-content-center p-5">
			<div class="col-md-6">
                {{ form_row(resetForm.password) }}
                <button class="btn btn-primary">Reset password</button>
            </div>
        </div>
    {{ form_end(resetForm, {render_rest: false}) }}
{% endblock %}
