<div class= "row justify_content_center">
    <div class="row col-md-8">
    {% for message in app.flashes('success') %}
        <div class="alert alert-primary">
        {{message}}
        </div>
    {% endfor %}
    </div>
</div>