{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        You don't have the authority to access the page, <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
{% endblock %}